/*Corpo*/
body {
    background: #f3e6ff;
    font-family: 'Lato';
    padding: 20px 0;
}

.card {
    background: linear-gradient(to bottom, #ffffff 0%, #f2d9ff 100%);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

h2 {
    font-weight: bold;
    color: #6a1b9a;
    text-align: center;
}

/* Tabela */
.tabela-classificacao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border: 2px solid #ba68c8;
    box-shadow: 0 0 8px rgba(90, 0, 90, 0.15);
}

.tabela-classificacao th {
    background: #8e24aa;
    color: white;
    padding: 12px;
}

.tabela-classificacao td {
    padding: 10px;
    border: 1px solid #d9a3e3;
    text-align: center;
}

.tabela-classificacao tr:nth-child(even) {
    background: #f7e2ff;
}

.tabela-classificacao tr:nth-child(odd) {
    background: #fff5ff;
}

/* Formulário */
label {
    font-weight: bold;
    color: #6a1b9a;
}

.form-control {
    border: 2px solid #ce93d8;
}

.form-control:focus {
    border-color: #8e24aa;
    box-shadow: 0 0 8px rgba(142,36,170,0.4);
}

.btn-primary {
    background-color: #8e24aa;
    border-color: #6a1b9a;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #6a1b9a;
    border-color: #4a1466;
}

/* Resultado */
#resultado {
    background: #fce6ff;
    border: 2px solid #d28ee3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

#resultado h2 {
    color: #6a1b9a;
}

#saidaMedia,
#saidaClassificacao {
    font-weight: bold;
    color: #4a1466;
}

.btn-voltar {
    background: #ab47bc;
    border: none;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 8px;
}

.btn-voltar:hover {
    background: #8e24aa;
}