/*ESTILO do Corpo*/
body {
  background-color: #e9d9f2;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* HEADER FIXO*/
header {
  background-color: #894191;
  color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

h1 {
  margin: 0;
  font-size: 36px;
}

p {
  margin: 8px 0 0;
  font-size: 16px;
}

/* CONTEÚDO PRINCIPAL*/
main {
  margin-top: 120px; /* afasta do header fixo */
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*ÁREA DE INPUT + BOTÃO */
.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

input {
  width: 65%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b789c9;
  color: white;
}

input::placeholder {
  color: #f3e9f8;
}

button {
  background-color: #a750b1;
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #9848ac;
}

/*LISTA DE ITENS*/
ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

li span {
  font-weight: bold;
  color: #863999;
}

/* SELECT DE OPÇÕES*/
select {
  margin-top: 10px;
  padding: 8px;

  border-radius: 10px;
  border: 1px solid #b789c9;
  color: #cc5de7;
}

/*ITEM MARCADO COMO COMPRADO*/
.comprado {
  text-decoration: line-through;
  color: gray;
}

/*BOTÃO VOLTAR AO MENU*/
.voltar {
  display: inline-block;
  margin-top: 30px;

  background-color: #b789c9;
  color: white;

  padding: 12px 25px;
  border-radius: 20px;
  text-decoration: none;

  position: relative; /* NÃO é mais absolute */
}

.voltar:hover {
  background-color: #9d66b4;
}

/* RESPONSIVIDADE - CELULAR*/
@media (max-width: 480px) {
  input {
    width: 55%;
  }

  .input-area {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 70%;
  }

  .voltar {
    margin-top: 40px;
  }
}
